{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banco</title>
    <link rel="stylesheet" type="text/css" href="{% static 'banco/estilo.css' %}">
</head>
<body>
    <div class="container">
        <h1>Agregar Cliente</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Agregar Cliente</button>
        </form>
        <hr>
        <h1>Clientes</h1>
        <ul>
            {% for cliente in clientes %}
                <li>
                    Cliente {{ cliente.id }}: {{ cliente.nombre }} tiene {{ cliente.dinero }}
                    <a class=" delete-button" href="{% url 'eliminar_cliente' cliente.id %}">Eliminar</a>
                    <a class="modify-button" href="{% url 'modificar_cliente' cliente.id %}">Modificar</a>
                </li>
            {% endfor %}
        </ul>
        
        <div class="conversion-container">
            <span id="precio-venta-dolar" style="display: none;">{{ precio_dolar }}</span>
    
            <h2>Cotizacion Dolar: {{ precio_dolar }}</h2>
            <h4>Ingrese el valor en pesos</h4>
            <form>
                <input type="number" id="pesos" oninput="convertirAPesos()">
                <p id="dolares"></p>
            </form>
        </div>
        <script>
        function convertirAPesos() {
            var pesos = document.getElementById('pesos').value;
            if (pesos < 0) {
                document.getElementById('dolares').innerHTML = 'Error: No puedes ingresar un valor negativo.';
                return;
            }
            var precio_dolar = document.getElementById('precio-venta-dolar').innerText;
            var dolares = pesos / precio_dolar;
            document.getElementById('dolares').innerHTML = dolares.toFixed(5) + ' dólares';
        }
        </script>
         <div class="transfer-container">
            <h2>Transferir dinero</h2>
            <form method="post" action="{% url 'transferir_dinero' %}">
                {% csrf_token %}
                <label for="id_origen">ID del usuario origen:</label>
                <input type="number" id="id_origen" name="id_origen" min="1" required>
                <label for="id_destino">ID del usuario destino:</label>
                <input type="number" id="id_destino" name="id_destino" min="1" required>
                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" min="1" required>
                <button type="submit">Transferir</button>
            </form>
        </div>
    
        
    </div>

   

    
    

</body>
</html>
